.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Start {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.Header {
  width: 96%;
  height: 50px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.Board {
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  width: calc(100vw - 1rem);
  height: calc(100vw - 1rem);
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  z-index: 0;
}

.Box {
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100vw - 1rem) / 3);
  height: calc((100vw - 1rem) / 3);
  background-color: #282c34;
  position: relative;
  z-index: 1;
}

.TokenColor {
  color: transparent;
  width: 100%;
}

.blue-green {
  background: linear-gradient(45deg, cornflowerblue 25%, yellowgreen);
}

.orange-pink {
  background: linear-gradient(45deg, orange 25%, hotpink);
}

.purple {
  background: blueviolet;
}

.teal {
  background: teal;
}

.yellow{
  background: rgb(255, 212, 0);
}

.red{
  background: rgb(212, 0, 0);
}

.Piece {
  font-size: calc((100vw - 1rem) / 3);
  font-weight: bold;
  line-height: 100%;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -1.25vh;
  /* background: linear-gradient(45deg, cornflowerblue 25%, yellowgreen); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (orientation:landscape) {
  .Board {
    width: calc(100vh - 140px);
    height: calc(100vh - 140px);
  }
  .Box {
    width: calc((100vh - 140px) / 3);
    height: calc((100vh - 140px) / 3);
  }
  .Piece {
    font-size: calc((100vh - 140px) / 3);
  }
}
